@model MOKANZ.Models.OrderViewModel

<p>
    @{ViewBag.Title = "Shopping Cart"; }
</p>

<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/cart.js"></script>
<div id="bar-notification">
</div>



<div id="subtotal" style="float:right">
    @*<h3>@ViewBag.SubTotal</h3>*@

    <h3> Subtotal: @Model.SubTotal</h3>
</div>


<table class="table">
    <tr>
        <th>
            
        </th>
     <th>
         Product
        @*@Html.DisplayNameFor(model => model.Product)*@
    </th>
    <th>
        Quantity
        @*@Html.DisplayNameFor(model => model.Quantity)*@
    </th>
    @*<th>
        OrderID
        
    </th>
    <th>
        DetailID
        
    </th>*@
    @*<th>
            @Html.DisplayNameFor(model => model.Packaged)
        </th>*@
        <th>
            Price
            @*@Html.DisplayNameFor(model => model.Price)*@
        </th>
        @*<th>
            Total
          
    </th>*@
   

    @foreach (var item in Model.OrderDetails)
    {
        @Html.HiddenFor(modelItem => item.OrderID)
            
        @Html.HiddenFor(modelItem => item.DetailID)
        

        <tr>
            <td>
                <img src="@item.SImage" />
            </td>
            <td id="productname_@item.DetailID">
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Quantity, new { htmlAttributes = new { @id = item.DetailID} })
                @Html.ValidationMessageFor(model => item.Quantity, "", new { @class = "text-danger" })


            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailID)
            </td>*@
            
            <th>
                @Html.DisplayFor(modelItem => item.Price)
            </th>
            @*<td id="total">
                @Html.DisplayFor(modelItem => item.Total)
            </td>*@
            
            <td>
                <input type="button" id="@item.DetailID" onclick="deleteitem(this)" value="Delete item" />
            </td>
            <td>
                <input type="button"  onclick="updateitem(@item.DetailID)" value="Update" />
            </td>
            
        </tr>
    }

</table>

@if (Model.OrderDetails.Count() > 0) { 
<div style="float:right; background-color:greenyellow;">
    @Html.ActionLink("CHECKOUT", "CheckOut")
</div>
}

<p>
    @Html.ActionLink("Back to Products Catalogue", "Index", "Products")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}