@model MOKANZ.Models.OrderViewModel

<p>
    @{ViewBag.Title = "Shopping Cart - MOKANZ Digital Store"; }
</p>

<script src="~/Scripts/cart.js"></script>
<div id="bar-notification">
</div>

<div id="subtotal" style="float:right">
    <h3> Subtotal (@Model.OrderDetails.Count() items): @Model.SubTotal</h3>
</div>

<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
    @foreach (var item in Model.OrderDetails)
    {
        @Html.HiddenFor(modelItem => item.OrderID)
        @Html.HiddenFor(modelItem => item.DetailID)
        <tr>
            <td>
                <img src="@item.SImage" />
            </td>
            <td id="productname_@item.DetailID">
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Quantity, new { htmlAttributes = new { @id = item.DetailID, @class = "qty-input" } })
                @Html.ValidationMessageFor(model => item.Quantity, "", new { @class = "text-danger" })
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Price)
            </th>
            <td>
                <input title="Update Cart" type="button" onclick="updateitem(@item.DetailID)" value=&#10004; class="btn btn-default btn-update" />
            </td>
            <td>
                <input title="Delete item" type="button" id="@item.DetailID" onclick="deleteitem(this)" value=&#10006 class="btn btn-default btn-delete" />
            </td>
        </tr>
    }

</table>

@if (Model.OrderDetails.Count() > 0) { 
<div style="float:right; background-color:greenyellow;">
    @Html.ActionLink("CHECKOUT", "CheckOut")
</div>
}

<p>
    @Html.ActionLink("Back to Products Catalogue", "Index", "Products")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}