@model IEnumerable<MOKANZ.Models.OrderViewModel>

    @{
        ViewBag.Title = "My Orders - MOKANZ Digital Store"; 
     }
<h2>My Orders</h2>
<script src="~/Scripts/cart.js"></script>
<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBackOrder)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr class="orders">
            <td>
                @*@Html.DisplayFor(modelItem => item.OrderDate)*@
                &#9654; @Html.ActionLink(@item.OrderDate.ToLongDateString(), "OrderDetails", new { id = item.OrderID })
            </td>
            <td id="complete">
                @Html.DisplayFor(modelItem => item.Complete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBackOrder)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SubTotal)
                
            </td>*@
        </tr>

        @*foreach (var itemdetail in item.OrderDetails)
        {
            <tr>
                <td>
                    <img src="@itemdetail.SImage"/>
                </td>
                <td>
                    @Html.DisplayFor(detail => itemdetail.Product)
                </td>
                <td>
                    @Html.DisplayFor(detail => itemdetail.Quantity)
                </td>
                <td></td>
            </tr>
        }*@
    }

</table>

