@model IEnumerable<MOKANZ.Models.OrderViewModel>

    @{
        ViewBag.Title = "My Orders - MOKANZ Digital Store"; 
     }
<h2>My Orders</h2>
<script src="~/Scripts/cart.js"></script>
<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBackOrder)
        </th>
        
    </tr>
    
    @foreach (var item in Model)
    {
        <tr class="orders">
            <td>
                @if(item.Complete == "Yes")
                {
                    <span>&#9654;</span>@Html.ActionLink(@item.OrderDate.ToLongDateString(), "OrderDetails", new { id = item.OrderID })
                }
                else
                {
                    <span>&#9654;</span>@Html.ActionLink(@item.OrderDate.ToLongDateString(), "Cart")
                }
            </td>
            <td id="complete">
                @Html.DisplayFor(modelItem => item.Complete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBackOrder)
            </td>
            
        </tr>
    }

</table>